@import './variables.css';
@import './error-page.css';
@import './authontication.css';
@import './chat.css';
@import './profile.css';

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.mf-page {
    background: var(--mf-bg-white);
    font-family: var(--mf-family);
    font-style: normal;
    margin: 0;
}
.mf-center-block {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.mf-main {
    display: flex;
    flex-direction: column;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
}
.mf-form__error {
    font-weight: normal;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
    position: initial;
    width: auto;
    height: auto;
    margin-top: 12px;
}
.mf-base-font {
    font-weight: var(--mf-weight);
    font-size: var(--mf-base-indent);
    line-height: var(--mf-base-indent);
    color: var(--mf-grey);
}
.mf-error-toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.error-toast__close {
  width: 12px;
  height: 12px;
  background-image: url('../assets/images/svg/close_error.svg');
  background-color: #cccccc;
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
}

.mf-success {
  background: var(--mf-success);
}
.mf-info {
  background: var(--mf-info);
}
.mf-warning {
  background: var(--mf-warning);
}
.mf-error {
  background: var(--mf-error);
}
